<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>

  <body>
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link active" href="#">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://localhost:8080/newProduct"
          >Agregar Producto</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://localhost:8080/products"
          >Listar Productos</a
        >
      </li>
    </ul>

    <h1 class="text-center">Ejs</h1>
  </body>
</html>
